<div class="bar-home">
    <div class="jumbotron">
        <h1>24bar7</h1>

        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet tortor ac felis semper dictum ut eu
            urna.
            Curabitur eget ultricies orci, ac pretium ante. Nullam lacinia magna non luctus facilisis. Nam sodales
            accumsan quam nec dictum. Aenean fringilla odio et dui pharetra, a lacinia turpis posuere. Vestibulum
            suscipit elit turpis. In non vulputate nibh. Maecenas bibendum scelerisque diam at fringilla. Nam ac neque
            rutrum, porttitor orci sed, vehicula neque. Morbi varius sapien eu hendrerit feugiat. Nam convallis eu sem
            et sollicitudin. Aliquam id magna et nibh dapibus venenatis.
        </p>
    </div>

    <div class="row">
        <div class="col-sm-6 text-center">
            <div class="thumbnail">
                <lead-icon icon="list" url="options"></lead-icon>

                <div class="caption">
                    <h3>Your options</h3>

                    <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>

                    <p><a href="#options" class="btn btn-primary btn-block" role="button">Go to the page</a></p>
                </div>
            </div>
        </div>


        <div class="col-sm-6 text-center">
            <div class="thumbnail">
                <lead-icon icon="play" url="get-support"></lead-icon>

                <div class="caption">
                    <h3>Get Supported</h3>

                    <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>

                    <p><a href="#get-support" class="btn btn-primary btn-block" role="button">Go to the page</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
