<div class="bar-options">
    <h1>Your options</h1>
    <p class="lead">Lorem Ipsum Blablabla</p>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-center">
            <your-options></your-options>
        </div>
    </div>

    <div class="main-container">
        <table class="table table-hover mt-15">
            <thead>
            <tr>
                <th>Features</th>
                <th>Tier 1</th>
                <th>Tier 2</th>
                <th>Tier 3</th>
                <th>Tier 4</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Capture Issue Info</td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
            </tr>
            <tr>
                <td>Capture Contact Info</td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
            </tr>
            <tr>
                <td>Customised Questions</td>
                <td><span class="glyphicon glyphicon-remove"></span></td>
                <td><span class="glyphicon glyphicon-remove"></span></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
            </tr>
            <tr>
                <td>Incoming calls included*</td>
                <td>0</td>
                <td>30</td>
                <td>60</td>
                <td>120</td>
            </tr>
            <tr>
                <td>Outgoing calls included</td>
                <td>0</td>
                <td>30</td>
                <td>60</td>
                <td>120</td>
            </tr>
            <tr>
                <td>Enter into your CRM</td>
                <td><span class="glyphicon glyphicon-remove"></span></td>
                <td><span class="glyphicon glyphicon-remove"></span></td>
                <td><span class="glyphicon glyphicon-remove"></span></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
            </tr>
            <tr>
                <td>Cost p/m</td>
                <td>$1</td>
                <td>$2</td>
                <td>$3</td>
                <td>$4</td>
            </tr>
            <tr>
                <td>Setup Cost</td>
                <td>$99</td>
                <td>$99</td>
                <td>$199</td>
                <td>$199</td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-sm-4">
                <p>**Tier 1 is $5 per call received</p>

                <p>Tier2, 3 and 4 is $1.50/call above included calls</p>

                <p>** Tier 1 is $5 per call received</p>

                <p>Tier2, 3 and 4 is $1 /call above included calls</p>
            </div>

            <div class="col-sm-4 text-center">
                <get-supported></get-supported>
            </div>

            <div class="col-sm-4 text-center">
                <a target="_self" href="/app/images/downloads/yeoman.png">
                    <span class="glyphicon glyphicon-download-alt"></span> <br/>
                    Download Our Service Agreement
                </a>
            </div>
        </div>
    </div>

</div>